*{
    font-family: 'Work Sans';
}

/* header styling */

header{
    margin-top: 0;
}
.header-title{
    position: relative;
    text-align: right;
    
}
.header-title img{
    width: 1600px;
    height: 808px;
    
}
.header-container{
    position: absolute;
    top: 8px;
    margin-left: 845px;
    margin-top: 216px;
    margin-right: 230px;
}
.h-c-title{
    font-weight: 700;
    font-size: 65px;
    padding-bottom: 24px;
}
.h-c-sub-title{
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 31px;
}
.pri-btn{
    width: 160px;
    height: 64px;
    background: #F15B22;
    color: #FFFFFF;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    
}
/* section my-info styling */

.my-info{
    margin-top: 131px;
    
}
.my-info-content{
    display: flex;
    gap: 87px;
}

p img{
    height: 12px;
    width: 12px;
}
.my-info-h{
    font-weight: 700;
    font-size: 40px;
}
.my-info-p{
    font-weight: 400;
    font-size: 16px;
}
.my-info-con-title{
    margin-top: 200px;
   
}
.my-info-con-pic{
    margin-left: 206px;
}