*{
    font-family: 'Work Sans';
}

/* header styling */

header{
    margin-top: 0;
}
.header-title{
    position: relative;
    text-align: right;
    
}
.header-title img{
    width: 1600px;
    height: 808px;
    
}
.header-container{
    position: absolute;
    top: 8px;
    margin-left: 845px;
    margin-top: 216px;
    margin-right: 230px;
}
.h-c-title{
    font-weight: 700;
    font-size: 65px;
    padding-bottom: 24px;
}
.h-c-sub-title{
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 31px;
    color: #444343;
}
.pri-btn{
    width: 160px;
    height: 64px;
    background: #F15B22;
    color: #FFFFFF;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    border: none;
    
}
/* section my-info styling */

.my-info{
    margin-top: 131px;
    
}
.my-info-content{
    display: flex;
    gap: 87px;
}

p img{
    height: 12px;
    width: 12px;
}
.my-info-h{
    font-weight: 700;
    font-size: 40px;
}
.my-info-p{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}
.my-info-con-title{
    margin-top: 200px;
    margin-right: 322px;
   
}
.my-info-con-pic{
    margin-left: 206px;
}
/* my plan styling */
.my-plan{
    margin-top: 130px;
    
}

.my-plan-h{
    font-weight: 700;
    text-align: center;
    font-size: 40px;

}
.my-plan-content{
    margin-top: 55px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 230px ;
    margin-right: 230px;
}
.my-plan-con-items{
    text-align: center;
}
.my-plan-con-h{
    font-weight: 700;
    font-size: 30px;
}
.my-plan-con-p{
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}
/* gradient styling */

.overlay{
   margin-bottom: 130px;
}
.img-overlay{
    background-image: linear-gradient(to right, rgba(241, 91, 34, 1), rgba(241, 91, 34, 0)),url(../images/watch.png);
    height: 300px;
    margin: 130px 230px 0;
    border-radius: 10px;
    
}
.img-content{
    padding : 30px 617px 60px 64px;

}
.img-ovr-h{
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}
.sec-btn{
    width: 160px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 5px;
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    border: none;
}
/* extra styling */
.extra{
    background-color: #f5d8cd;
    height: 550px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    border: none;
    border-radius: 8px;
}
.ext-title-h{
    padding-top: 70px;
    font-weight: 700;
    font-size: 40px;
    
}
.ex-in{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 325px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;

}


/* footer styling */
footer{
    margin-top: 130px;
    height: 577px;
    background: black;
    display: flex;
    gap: 331px;
    
}
.footer-titles{
    color: white;
    width: 485px;
    height: 317px;
    padding-left: 200px;
    padding-top: 100px;
    
    
}
.fot-title-h{
    font-weight: 700;
    font-size: 45px;
}
.fot-title-p{
    font-weight: 400;
    font-size: 16px;
}
.footer-items{
    color: white;
    width: 325px;
    height: 204px;
    padding-top: 120px;
    
    

}
.fot-items-h{
    font-weight: 600;
    font-size: 25px;
}
.mail{
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 325px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
}
